/* column */

#gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* rows */

.gridRows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* individual boxes */

.rowBox {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 5px;
}