/* organizing main container's kids: 
4 horizontal rows into a column */

#gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* organizing row container's kids:
4 boxes in each row stay in a row */

.gridRows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

/* individual boxes */

.rowBox {
    flex-grow: 1;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 5px;
}