/* column */
container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* rows */

.gridRows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* individual boxes */

.rowBox {
    height: auto;
    width: auto;

}